<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <!-- ICONS -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/admin/assets/images/logo/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/admin/assets/images/logo/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/admin/assets/images/logo/favicon-16x16.png"
    />
    <link rel="manifest" href="/admin/assets/images/logo/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/admin/assets/images/logo/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <link rel="stylesheet" href="/funding/css/style copy.css" />

    <script defer src="/funding/js/app.js"></script>

    <title>Payvult &mdash; your next gen trading</title>
  </head>
  <body>
    <nav class="navbar">
      <!--<img src="./images/logo.svg" alt="Logo" class="logo-main" />-->
      <h2 style="color: whitesmoke" class="header__logo mb-sm">Payvult</h2>
      <ul style="display: none" class="navbar__items">
        <li class="navbar__items--1">
          <a href="#" class="nav-link">About </a>
        </li>
        <li class="navbar__items--2">
          <a href="#" class="nav-link">Discover</a>
        </li>
        <li class="navbar__items--3">
          <a href="#" class="nav-link">Get Started</a>
        </li>
      </ul>

      <button style="display: none" class="hamburger">
        <img src="./images/icon-hamburger.svg" alt="hamburger" id="img1" />
      </button>
    </nav>

    <main class="main__section">
      <div class="main__section--1">
        <img
          src="/funding/images/Subject 3.jpeg"
          width="50"
          height="50"
          alt=""
          class="main--logo"
          style="border-radius: 50%"
        />
        <div class="heading">
          <h1 class="heading--1">Withdrawal</h1>
          <p class="heading--5">
            A beautiful & handcrafted monitor stand to reduce neck and eye
            strain.
          </p>
        </div>

        <div class="main--btn">
          <button class="main--btn-one">Make a request</button>
          <button class="main--btn-bookmark">
            <svg width="56" height="56" xmlns="http://www.w3.org/2000/svg">
              <g fill="none" fill-rule="evenodd">
                <circle fill="#2F2F2F" cx="28" cy="28" r="28" />
                <path fill="#fff" d="M23 19v18l5-5.058L33 37V19z" />
              </g>
            </svg>

            <span>Like</span>
          </button>
        </div>
      </div>
      <div style="display: block" class="main__section--2">
        <div class="value">Trade is still in progress...</div>

        <div class="line">
          <div class="line--fill"></div>
        </div>
      </div>
      <div class="main__section--3">
        <div class="about--text">
          <h3 class="heading-3">IMPORTANT NOTICE</h3>
          <p class="paragraph">
            You can only withdraw after the trade has completed, you will get an
            email notification when the trade has concluded so that you can
            proceed with withdrawal.
          </p>
          <p class="paragraph">
            However if you wish to withdraw now you can make a withdrawal
            request, your request will be reviewed and considered depending on
            the market conditions, please be informed that there are risks of
            loss involved with premature withdrawal.
          </p>
        </div>

        <div class="about--card">
          <div class="about--card-3 inactive--card">
            <div class="card--heading">
              <p class="heading--bold">Reff: <i>BX4s364.USER#00847</i></p>
              <p class="heading--right">Asset class: Cryptocurrency</p>
            </div>

            <p class="para">
              Use your unique withdrawal reference for inquriy on withdrawal
              status via email.
            </p>

            <div class="card--bottom">
              <p class="number-less-bold"><span>$18,356.04</span></p>
              <button class="btn card--btn">Withdraw</button>
            </div>
          </div>
        </div>
      </div>
    </main>

    <div class="overlay__modal overlay__inactive">
      <div class="modal__text">
        <div class="heading-btn">
          <h3 class="heading-3">Withdrawal method</h3>
          <button class="close-btn">
            <img src="/funding/images/icon-close-modal.svg" alt="close-modal" />
          </button>
        </div>
        <p class="para-model">
          Choose a withdrawal method to continue, bank withdrawal is only
          available after trade has concluded.
        </p>
      </div>

      <div class="modal__cards">
        <div class="modal__cards--3 modal__card">
          <div class="radio-btn">
            <input type="radio" id="reward75" name="pledge" value="no_reward" />
            <label for="reward75">
              Bitcoin Wallet<span> (luno, valr, etc) </span>
            </label>
          </div>
          <p class="modal--para">
            Transfer take 3hrs to 6hrs to reflect on customers wallet, use your
            reference to track transfer status.
          </p>

          <!-- Selected pledge start -->
          <div class="open--section">
            <hr />
            <input type="text" placeholder=" Enter your bitcoin address" />
            <input
              class="pledge-money"
              type="text"
              placeholder="$  0.00"
              value=""
            />

            <button class="pledge-btn">Continue</button>
          </div>
          <!-- Selected pledge end  -->
        </div>

        <div class="modal__cards--4 modal__card inactive--card">
          <div class="radio-btn">
            <input
              type="radio"
              id="reward200"
              name="pledge"
              value="no_reward"
            />
            <label for="reward200"> Direct bank withdrawal </label>
          </div>
          <p class="modal--para">
            Transfer is made in 24hrs, however funds arrival may depend on
            receiver's bank and country of residence.
          </p>

          <!-- Selected pledge start 
          
          -->
          <div class="open--section">
            <hr />
            <input type="text" placeholder=" Enter your Reff" />
            <input
              class="pledge-money"
              type="text"
              placeholder="$  0.00"
              value=""
            />

            <button class="pledge-btn">Continue</button>
          </div>
          <!-- Selected pledge end -->
        </div>
      </div>
    </div>

    <div class="overlay__success overlay__inactive">
      <div>
        <img
          style="border-radius: 50%"
          src="/funding/images/check-icon.png"
          alt="success"
          class="success-img"
        />
        <p class="heading-2">Withdrawal requested!</p>
        <p>
          Your withdrawal order has been submitted. You will get an email once
          it has been processed.
        </p>
        <button class="close-btn-success">Got it!</button>
      </div>
    </div>
  </body>
</html>
